/*
---------------
DOC DEFAULTS
---------------
*/

* {
	margin: 0;
	padding: 0;
    overflow: hidden;
}

html,body {
    background-color: #F2EAE2;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    color: #6C7289;
}

/*
---------------
TYPOGRAPHY
---------------
*/

.perfume-name {
    font-family: 'Fraunces', serif;
    font-size: 2.286rem;
    font-weight: 700;
    order: 2;
    color: #1C232B;
    padding: 0.857rem 0 1.143rem 0;
    line-height: 2.286rem;
}

.sale-price {
    font-family: 'Fraunces', serif;
    font-size: 2.286rem;
    line-height: 2.286rem;
    font-weight: 700;
    color: #3D8168;
    padding-right: 1.357rem;
}

.retail-price {
    line-height: 1.643rem;
    font-size: 0.929rem;
    text-decoration: line-through;
}

.perfume-description {
    order: 3;
    line-height: 1.643rem;
    font-weight: 500;
    font-size: 1rem;
}

.perfume-emphasis {
    text-transform: uppercase;
    letter-spacing: 0.357rem;
    font-size: 0.857rem;
    order: 1;
    line-height: 1.071rem;
}

/*
---------------
MAIN LAYOUT
---------------
*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.preview-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0.714rem;
    width: 24.5rem;
    height: 43.643rem;
}

.price {
    display: flex; 
    flex-direction: row;
    align-items: center;
    order: 4;
    padding-top: 1.714rem;
}

.mobile-perfume-img,
.desktop-perfume-img {
    object-fit: cover;
}

.mobile-perfume-img{
    height: 17.143rem;  
    order: 1;
}

.desktop-perfume-img {
    display: none;
}

.perfume-info{
    display: flex;
    flex-direction: column;
    padding: 0 1.714rem 1.714rem 1.714rem;
    order: 2;
}

.cart-btn {
    border: none;
    outline: none;
    font: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 5;
    width: 21.071rem;
    height: 3.429rem;
    color: #fff;
    background-color: #3D8168;
    margin-top: 1.429rem;
    border-radius: 0.571rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.214rem;
}

.cart-btn:focus,
.cart-btn:active,
.cart-btn:hover {
    background-color: #1A4032;
    cursor: pointer;
}

.shopping-cart-icon {
    padding-right: 0.829rem;
}

.darken-img {
    filter: brightness(0.9);
}

/*
---------------
MEDIA QUERIES
---------------
*/

@media(min-width: 1200px){
    .preview-component {
        flex-direction: row;
        width: 42.857rem;
        height: 32.143rem;
    }

    .mobile-perfume-img{
        display: none;
    }
    
    .desktop-perfume-img {
        min-width: 21.429rem;
        display: flex;
        object-fit: contain;
        order: 1;
    }

    .cart-btn {
        width: 16.857rem;
        margin-top: 2.143rem;
    }

    .perfume-info {
        justify-content: space-between;
        padding: 2.286rem;
    }

    .price {
        padding-top: 2.071rem;
    }

    .perfume-name {
        padding: 1.429rem 0 1.714rem 0;
        max-width: 16.857rem;
    }

}